<div class="column">
  <button id="add-detail-btn" class="padding-medium margin-medium shadow bg-primary">Add detail</button>
  <div id="details-container">
  </div>
</div>
<template id="form-control">
  <div class="column detail">
    <div class="row">
      <select class="margin-small detail-type">
        <option value="todo">Todo</option>
        <option value="stay">Stay</option>
        <option value="travel">Travel</option>
      </select>
      <input type="date" class="shadow margin-small detail-date">
      <button class="remove" class="padding-small margin-small shadow">&#10005;</button>
    </div>
      <input class="shadow margin-small detail-content">
    </div>
  </div>
</template>

