@import "../../../scss/shared";

.list {
  @extend .border;
  @extend .border-radius;
  .list__item {
    @extend .padding-medium;
    border-bottom: 1px solid $color-border;
    position: relative;

    button {
      position: absolute;
      top: 2px;
      right: 5px;
    }
  }

  .list__title {
    @extend .padding-medium;
    font-size: 12px;
  }
}
