// @import './modifiers';
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $font;
}

input {
  @extend .padding-small;
  @extend .border-radius;
  @extend .border;
  background-color: white;
  width: 100%;
}

select {
  @extend .padding-small;
  @extend .border-radius;
  @extend .border;
  background-color: white;
}


button {
  @extend .padding-small;
  @extend .border-radius;

  &:hover {
    background-color: $color-primary;
    color: $color-primary-contrast;
  }
}

a {
  @extend .padding-small;
  @extend .border-radius;
  text-decoration: none;
  color: inherit;
}

label {
  padding: 10px 0 2px 0;
}

ul {
  list-style: none;
}
