<form name="text-entry" autocomplete="off" class="section">
  <div class="column">

    <label class="color-primary" for="name">Name</label>
    <input type="text" class="shadow" name="name" id="name" required/>    

    <label class="color-primary" for="location">Destination</label>
    <input type="text" class="shadow" name="location" id="location" required/>
    
    <label class="color-primary" for="start-date">Start date</label>
    <input type="date" class="shadow" name="start-date" id="start-date" required/>
    
    <label class="color-primary" for="end-date">End date</label>
    <input type="date" class="shadow" name="end-date" id="end-date" required/>

  </div>
  <button id="submit" type="submit" class="section__button bg-primary shadow">Create trip</button>
</form>