<form name="text-entry" autocomplete="off" class="section">
  <div class="column">
    
    <label class="color-primary" for="location">Destination</label>
    <input type="text" class="shadow" name="location" id="location" required/>
    
    <label class="color-primary" for="startDate">Start date</label>
    <input type="date" class="shadow" name="startDate" id="startDate" required/>
    
    <label class="color-primary" for="endDate">End date</label>
    <input type="date" class="shadow" name="endDate" id="endDate" required/>

  </div>
  <button id="submit" type="submit" class="section__button bg-primary shadow">Create trip</button>
</form>