@import "../../../scss/shared";


.card {
  @extend .border;
  @extend .border-radius;
  @extend .column;
  max-width: 400px;
  min-width: 280px;
  margin: 20px;
  content-visibility: auto;
  content-intrinsic-size: 400px;
  animation: slideInLeft 1s ease-out;

  .card__header {
    @extend .column;
    width: 100%;
  }

  .card__content {
    @extend .column;
    @extend .margin-medium;
  }

  .card__img {
    width: 100%;
    height: auto;
    animation: fadeIn 2s ease-out
  }

  .card__button {
    margin-top: 5px;
    width: 80%;
    max-width: 200px;
  }
}
