<div class="card shadow">
  <figure id="picture-container">
  </figure>
  <p class="margin-small"><strong id="name"></strong></p>
  <p class="margin-small" id="location"></p>
  <p><span id="start-date"></span> - <span id="end-date"></span></p>
  <div class="row">
    <button id="remove" class="can-hide-absent padding-small margin-medium shadow border">Remove</button>
    <button id="view" class="can-hide-absent padding-small margin-medium shadow border">Open</button>
    <button id="edit" class="can-hide-absent padding-small margin-medium shadow border">Edit</button>
  </div>
</div>