// @import '../base/base';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.can-hide-absent {

  &.hidden {
    display: none;
  }

  &.visible {
    animation: fadeIn 0.25s 1;
  }

}

.can-hide-present {
  transition: opacity 0.5s;
  opacity: 1;

  &.hidden {
    opacity: 0 !important;
  }
}

.s {
  width: 50px !important;
}

.m {
  width: 120px;
}

.collapsable {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 0;
  transition: max-height 1s;

  &.open {
    overflow-y: scroll;
    max-height: 400px;
  }
}

.bg-primary {
  background-color: $color-primary !important;
  color: $color-primary-contrast!important;
}

.bg-danger {
  background-color: $color-danger !important;
  color: $color-primary-contrast!important;
}
.bg-success {
  background-color: $color-success !important;
  color: $color-primary-contrast!important;
}

.color-primary {
  color: $color-primary;
}

.color-danger {
  color: $color-danger;
}

.color-success {
  color: $color-success;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.padding-small {
  padding: 5px 10px;
}

.padding-medium {
  padding: 15px;
}

.margin-small {
  margin: 5px 10px;
}

.margin-medium {
  margin: 15px;
}

.text-center {
  text-align: center;
}

.border {
  border: 1px solid $color-border;
}

.border-radius {
  border-radius: 6px;
}

@mixin flex($orientation, $justify, $align) {
  display: flex;
  flex-direction: $orientation;
  justify-content: $justify;
  align-items: $align;
}

.page {
  height: 100%;
  width: 100%;
}

.column {
  @include flex(column, center, center);
  max-width: 400px;
  margin: 20px 5px;
}

.row {
  @include flex(row, space-between, center)
}
.responsive-container {
  width: 100%;
  max-width: 500px;
}