// @import '../modifiers/modifiers';

.section {
  @extend .column;
  width: 100%;
  max-width: 500px;
  
  > div {
    width: 80%;
    padding: 0 0 5px 0;
  }
  
  .section__button {
    margin-top: 5px;
    width: 80%;
    max-width: 200px;
  }
  
}


